@define-mixin close-button {
    width: 32px;
    height: 32px;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 50%;
    line-height: 32px;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
    position: relative;

    &:hover {
        background-color: rgba(255,255,255,0.1);
    }

    &:after {
        background-image: url('/../../images/icons_set.png');
        background-position: -143px -35px;
        width: 12px;
        height: 12px;
        content: '';
        display: block;
        position: absolute;
        top: 10px;
        left: 10px;
    }
}

@define-mixin radio-button {
    font-size: 14px;
    font-family: montserratregular, sans-serif;
    color: rgba(255,255,255,0.8);
    transition: color 0.2s ease-out;

    &:hover {
        color: white;
    }

    &:before {
        content: '\e822';
        display: inline-block;
        font-family: "icon-font";
        vertical-align: baseline;
        -webkit-font-smoothing: antialiased;
    }

    &_active:before {
        content: '\e823';
    }
}

@define-mixin radio-button_active {
    &:before {
        content: '\e823';
    }
}


