
.weather-box-wrapper {
    position: absolute;
    bottom: 174px;
    left: 0;
    right: 0;
    z-index: 9;
    opacity: 0;
    transform: translateY(20px);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    pointer-events: none;
}

.weather-box-wrapper_active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.weather-box {
    background: rgba(0,0,0,0.9);
    padding: 20px 40px;
    max-width: 968px;
    margin: auto;
    box-sizing: border-box;
    position: relative;
}

.weather-box__close {
    position: absolute;
    right: 40px;
    width: 32px;
    height: 32px;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 50%;
    line-height: 32px;
    text-align: center;
    font-size: 11px;
    cursor: pointer;
}

.weather-box__current {
    display: flex;
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.weather-box__current-item {
    width: 160px;
}

.weather-box__current-title {
    font-size: 14px;
    line-height: 20px;
    font-family: montserratregular, sans-serif;
    margin-bottom: 4px;
}

.weather-box__current-value {
    font-size: 40px;
    line-height: 40px;
    font-family: montserratregular, sans-serif;
}

.weather-box__forecast {
    display: flex;
    padding-top: 24px;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.weather-box-forecast {
    min-width: 140px;
    margin-bottom: 24px;
}

.weather-box-forecast__day {
    font-size: 14px;
    line-height: 14px;
    font-family: montserratregular, sans-serif;
    margin-bottom: 10px;
}

.weather-box-forecast__temp {
    display: flex;
}

.weather-box-forecast__min-temp {
    display: inline-block;
    width: 50%;
    font-size: 30px;
    line-height: 30px;
    font-family: montserratregular, sans-serif;
}

.weather-box-forecast__max-temp {
    display: inline-block;
    width: 50%;
    font-size: 30px;
    line-height: 30px;
    font-family: montserratregular, sans-serif;
    color: #4e6ac8;
}

.weather-box__settings {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.weather-box__settings-units {
    display: flex;
}

.weather-box__unit-button {
    font-size: 14px;
    line-height: 24px;
    font-family: montserratregular, sans-serif;
    border-radius: 13px;
    transition: border-color .4s ease-in-out, background-color .4s ease-in-out;
    cursor: pointer;
    text-align: center;
    border: 1px solid rgba(255,255,255,.2);
    padding: 0 12px;
    margin-right: 6px;
}
