.leftcol>div .switcher input[type=checkbox] {
    position: absolute;
    left: -9999em;
}

.leftcol {
    width: 380px;
    position: absolute;
    z-index: 20;
    background: rgba(0, 0, 0, .7);
    transform: translate(-100%, 0);
    transition: all .3s ease-in-out;
    padding: 105px 40px 40px
}

.leftcol > div {
    padding: 17px 0 17px 30px;
    position: relative
}

.leftcol > div > label:first-child {
    position: relative;
    font: 16px/20px montserratregular;
    display: block
}

.leftcol > div .radios, .leftcol > div a {
    color: #949494;
    font: 14px/20px montserratregular
}

.leftcol > div > label:first-child .icon {
    margin-right: 10px;
    position: absolute;
    left: -30px;
    top: 2px
}

.leftcol > div .radios {
    padding-top: 5px
}

.leftcol > div .radios label {
    display: inline-block;
    padding-right: 15px
}

.leftcol > div .radios label .radio {
    margin-right: 5px
}

.leftcol > div a {
    text-decoration: none;
    display: table
}

.leftcol > div .switcher, .leftcol > div .switcher span {
    width: 36px;
    height: 12px;
    display: inline-block;
    position: absolute
}

.leftcol > div a:first-of-type {
    margin-top: 5px
}

.leftcol > div .switcher {
    right: 0;
    top: 22px
}

.leftcol > div .switcher span {
    background: url(/images/lmenu_switch.png);
    left: 0;
    top: 0;
    opacity: 1;
    transition: opacity .2s ease-in-out
}

.leftcol > div .switcher span.active {
    background: url(/images/lmenu_switch.png) 0 -12px;
    opacity: 0;
    transition: opacity .2s ease-in-out
}

.leftcol > div .switcher input[type=checkbox] {
    position: absolute;
    left: -9em
}

.leftcol > div .switcher.active span {
    opacity: 0
}

.leftcol > div .switcher.active span.active {
    opacity: 1
}

.leftcol.active {
    transform: translate(0, 0)
}

.open-settings-panel {
    font: 14px/34px montserratregular;
    color: #fff;
    text-decoration: none;
    border-radius: 17px;
    border: 1px solid rgba(255, 255, 255, .3);
    display: inline-block;
    padding: 0 15px;
    cursor: pointer;
    background-color: rgba(255,255,255,0);
    transition: background-color 0.3s ease-out;

    &:hover {
        background: rgba(255, 255, 255, .1);
    }
}

.settings-panel-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 378px;
    overflow: hidden;
    pointer-events: none;
}

.settings-panel {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-out;
    transform: translateX(-100%);
    pointer-events: auto;
    background: rgba(0,0,0,0.9);
    box-sizing: border-box;
    position: relative;
    z-index: 10;

    &_active {
        transform: translateX(0);
    }

    &__list {
        position: absolute;
        top: 104px;
        bottom: 104px;
        left: 40px;
        right: 40px;
        overflow-y: scroll;
    }

}

.settings-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(255,255,255,0.2);
    padding: 16px 0;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.1s ease-out;

    &:last-child {
        border-bottom: 1px solid rgba(255,255,255,0.2);
    }

    &:hover {
        background-color: rgba(255,255,255,0.1);
    }

    &__content {
        flex-grow: 1;
    }

    &__icon {
        margin-right: 10px;
        width: 16px;
        position: relative;
        top: -2px;
    }

    &__title {
        font-size: 16px;
        font-family: montserratregular, sans-serif;
    }

    &__toggle {
        background: url(/images/lmenu_switch.png);
        width: 36px;
        height: 12px;
        background-size: auto 24px;
        margin-right: 2px;

        &_active {
            background-position: 0 -12px;
        }
    }

    &__radio-buttons {
        display: flex;
        margin-top: 4px;
    }

    &__radio-button {
        font-size: 14px;
        font-family: montserratregular, sans-serif;
        color: rgba(255,255,255,0.8);
        margin-right: 14px;

        &:before {
            content: '\e822';
            display: inline-block;
            font-family: "icon-font";
            vertical-align: baseline;
            -webkit-font-smoothing: antialiased;
            margin-right: 4px;
        }

        &_active:before {
            content: '\e823';
        }
    }
}