@import "../page/buttons.css";

.apps-wrapper {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 454px;
    overflow: hidden;
    pointer-events: none;
}

.apps {
    width: 100%;
    height: 100%;
    padding: 0 40px;
    box-sizing: border-box;
    position: relative;
    background: rgba(0,0,0,0.9);
    z-index: 10;
    transition: transform 0.3s ease-out;
    transform: translateX(100%);
    pointer-events: auto;
}

.apps_mode_permissions-required .apps__list {
    display: none;
}

.apps_mode_permissions-required .apps__permissions {
    display: block;
}

.apps_mode_no-apps .apps__list {
    display: none;
}

.apps_mode_no-apps .apps__no-apps {
    display: block;
}

.apps_active {
    transform: translateX(0);
}

.apps__no-apps {
    font: 20px/52px montserratregular;
    margin-top: 32px;
    display: none;
}

.apps__title {
    font: 24px montserratregular;
    padding-top: 36px;
}

.apps__close {
    @mixin close-button;
    position: absolute;
    right: 40px;
    top: 20px;
}

.apps__permissions {
    display: none;
}

.apps__permissions-title {
    font: 14px/20px montserratregular;
    margin-top: 24px;
}

.apps__permissions__button {
    background-color: rgba(65, 126, 183, 1);
    text-align: center;
    height: 52px;
    font: 20px/52px montserratregular;
    margin-top: 32px;
    cursor: pointer;
    transition: background-color 0.3s ease-out;
}

.apps__permissions__button:hover {
    background-color: #4CA8EC;
}

.apps__list {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    right: 26px;
    left: 40px;
    top: 96px;
    bottom: 40px;
    overflow-y: scroll;
}