#searchForm {
    z-index: 9;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -320px
}

#searchForm .searchLine {
    display: table;
    border-radius: 29px
}

#searchForm .searchLine input[type=text] {
    background: #fff;
    border: none;
    width: 580px;
    height: 57px;
    border-radius: 29px 0 0 29px;
    float: left;
    box-sizing: border-box;
    padding: 0 32px;
    color: #949494;
    font-size: 18px;
    line-height: 57px;
    font-family: montserratregular, sans-serif;
}

#searchForm .searchLine input[type-text]::-webkit-input-placeholder {
    color: #949494;
    font-size: 18px;
    line-height: 57px;
    font-family: montserratregular, sans-serif;
}

#searchForm .searchLine button {
    float: left;
    border: none;
    padding: 0 20px;
    height: 57px;
    vertical-align: middle;
    text-align: center;
    background: #fff;
    border-radius: 0 29px 29px 0;
    position: relative
}

#searchForm .searchLine button:before {
    content: '';
    width: 1px;
    height: 41px;
    background: #dbdbdb;
    position: absolute;
    left: 0;
    top: 9px
}

#searchForm .searchLine :focus {
    outline: 0
}

#searchForm p {
    text-align: center;
    font-size: 12px;
    line-height: 28px;
    font-family: montserratregular, sans-serif;
    padding-top: 10px
}

#searchForm p .icon {
    margin: 0 5px 0 10px;
    position: relative;
    top: -2px
}
