@import '../page/icons.css';

#searchForm {
    z-index: 9;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: -45px;
}

.search {
    display: flex;
    justify-content: center;

    &_focused {
        ^&__line {
            background-color: white;
        }
        ^&__line:after {
            background-color: transparent;
        }
        ^&__submit {
            opacity: 1;
        }
        ^&__input {
            color: #949494;
        }
        ^&__input::-webkit-input-placeholder {
            color: #949494;
        }
    }
}

.search__wrapper {
    display: flex;
    position: relative;
}

.search__line {
    display: flex;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    transition: background-color 0.3s ease-out;
    border-radius: 29px;

    &:after {
        display: block;
        position: absolute;
        content: '';
        bottom: 0;
        background-color: rgba(255,255,255,0.9);
        transition: background-color 0.3s ease-out;
        height: 2px;
        left: 33px;
        right: 33px;
    }
}

.search__input {
    background-color: transparent;
    border: none;
    width: 580px;
    height: 57px;
    box-sizing: border-box;
    padding: 0 32px;
    color: rgba(255,255,255,0.5);
    transition: color 0.3s ease-out;
    font-size: 18px;
    line-height: 57px;
    font-family: montserratregular, sans-serif;
    outline: 0;
}

.search__input::-webkit-input-placeholder {
    color: rgba(255,255,255,0.5);
    font-size: 18px;
    line-height: 57px;
    font-family: montserratregular, sans-serif;
}

.search__submit {
    border: none;
    padding: 0 20px;
    height: 57px;
    vertical-align: middle;
    text-align: center;
    background: transparent;
    position: relative;
    opacity: 0;
    transition: opacity 0.3s ease-out;

    &:before {
        content: '';
        width: 1px;
        height: 41px;
        background: #dbdbdb;
        position: absolute;
        left: 0;
        top: 9px
    }
    &:after {
        @mixin icon_search;
    }
}

