@keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.dropbox-gallery-tab {

    &_state_dropbox {
        .user-wallpaper {
            display: none;
        }
    }

    &_state_user-wallpaper {
        .dropbox {
            display: none;
        }
    }
}

.dropbox {
    border-radius: 10px;
    border: 2px dashed rgba(255, 255, 255, .2);
    margin: 20px auto 0;
    overflow: hidden;
    padding-bottom: 40px;
    padding-top: 40px;
    max-width: 990px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .3) inset, 0 -3px 2px rgba(0, 0, 0, .1);
    -webkit-user-select: none;

    &_state_preloading:before {
        position: absolute;
        left: 50%;
        width: 35px;
        top: 50%;
        height: 35px;
        margin: -25px 0 0 -25px;
        font-size: 35px;
        line-height: 35px;
        font-weight: inherit;
        text-align: center;
        content: '\e859';
        font-family: "icon-font";
        -webkit-font-smoothing: antialiased;
        animation: spin 2s infinite linear;
        display: inline-block;
        color: #c1c2c2;
    }

    &__title {
        font-family: montserratbold, sans-serif;
        font-size: 40px;
        line-height: 42px;
        padding: 10px 0 14px;
    }

    &__subtitle {
        color: #949494;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;
        font-family: montserratregular, sans-serif;
    }

    &__browse-wrapper {
        color: #949494;
        font-size: 14px;
        line-height: 20px;
        font-family: montserratregular, sans-serif;
    }

    &__browse {
        margin-left: 10px;
        text-decoration: none;
        font-size: 14px;
        line-height: 26px;
        font-family: montserratregular, sans-serif;
        border: 1px solid rgba(255, 255, 255, .4);
        padding: 0 15px;
        color: #fff;
        border-radius: 15px;
        transition: all .4s ease-in-out;
        cursor: pointer;
        display: inline-block;
        white-space: nowrap;
        text-align: center;
    }

    &__browse-input {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        overflow: hidden;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: block;
        cursor: pointer;
    }
}

.user-wallpaper {
    margin-top: 12px;

    &__thumb-container {
        display: flex;
        justify-content: center;
    }

    &__controls {
        display: flex;
        justify-content: center;
        margin-top: 16px;
    }

    &__replace, &__delete {
        color: rgba(255,255,255,0.6);
        transition: color 0.1s ease-out;
        cursor: pointer;
        margin: 0 8px;
        -webkit-user-select: none;

        &:hover {
            color: white
        }
        &:before {
            font-family: 'icon-font';
            font-size: 13px;
            line-height: 21px;
            display: inline-block;
        }
    }

    &__replace:before {
        content: "\e80a";
    }

    &__delete:before {
        content: "\e828";
    }

}
